# 一、

首先，我先依照作業參考網站 https://ttc.scu.org.tw/memdca1.htm 上的三個變數依序設立 input()，並用 int() 將他們從預設的字串轉換成數字存入 p, n_y, i

再來，試算輸入後的結果呈現形式為：  
![](result.png)

因此觀察到此償還方式是以每月歸還固定本金與歸還每月相應遞減利息進行，

故可以求得2值：  
n_m = n_y * 12&nbsp;表示期數(月)  
p_m = p / n_m&nbsp;&nbsp;表示固定償還本金(月)

迴圈的部分運用上述邏輯，藉由逐月扣除已歸還的剩餘本金計算每個月的利息  
最後依序 print 出 期數(月)、本金(元)、利息(元)、本利累計(元)

In [1]:
# 財務工程 108-2 作業 
# 經濟四 李承翰
p = int(input()) * 10000  #本金
n_y = int(input())  #期數(年)
i = int(input()) / 100  #年利率

n_m = n_y * 12  #期數(月)
p_m = p / n_m  #償還本金(月還
p_i = 0  #本利累計
print("期數(月)  本金(元)  利息(元)  本利累計(元)")
for k in range(n_m):
    i_m = p * (i / 12)  #利息(月)
    p -= p_m
    p_i_m = p_m + i_m  #本利累計(月)
    p_i += p_i_m
    print("第" + str(k + 1) + "期" + "   " + str(int(p_m)) + "     " + str(int(i_m)) + "      " + str(int(p_i)))

12
1
5
期數(月)  本金(元)  利息(元)  本利累計(元)
第1期   10000     500      10500
第2期   10000     458      20958
第3期   10000     416      31375
第4期   10000     375      41750
第5期   10000     333      52083
第6期   10000     291      62375
第7期   10000     250      72625
第8期   10000     208      82833
第9期   10000     166      93000
第10期   10000     125      103125
第11期   10000     83      113208
第12期   10000     41      123250

**上面例子以 12、1、5 為本金、期數(year)、年利率**  

---

# 二、  
完成文字敘述與演算法展示後，想把結果呈現優化，並在markdown敘述中放入圖片，於是上網研究了jupyter的使用秘訣(第一段的圖片是研究後放上去的)

https://www.itread01.com/content/1545484157.html 中有豐富舉例，在這邊做個紀錄：  

*斜體*  
**粗體**  
***斜粗體***    

>引用文字  
>>繼續引用文字  
>>超愛引用文字  
>>>瘋狂引用文字    

* 重點一  
* 重點二  
* 沒重點  


1. Prince  
2. Jonathan  
3. Hans

```
大區塊佔場
```  

一段話中間的`程式`

**程式碼:**  
```python
for i in range(5):
    print(i)
```

**emoji:**(可以在Github呈現)    
:smile:  
:smiley:  
:smirk:  
:worried:  
:expressionless:  

<table><tr><td bgcolor=orange> 背景色是：orange </td></tr></table>  

hero|job|skill  
-:|:-:|:-
Iron man|leader|telling jokes
Capatain America|chearleader|telling nonsense
Prince|spiritual leader|telling stories


---

# 三、  
初步認識markdown語法後，現在要來優化結果呈現

上網搜尋python如何print出表格後，在 http://www.siyuanblog.com/?p=1606 發現prettytable的用法，於是先用pip安裝

In [3]:
pip install prettytable

Requirement already satisfied: prettytable in c:\users\user\anaconda3\lib\site-packages (0.7.2)Note: you may need to restart the kernel to use updated packages.

---
試印一下網站給的範例

In [2]:
from prettytable import PrettyTable

table = PrettyTable(["name", "score"])
table.add_row(["Bob", 67])
table.add_row(["grizzly", 45])
table.add_row(["Tom of Caerbannog", 78])
table.add_row(["cat", 34])
table.add_row(["Tony", 39])
table.add_row(["dolphin", 45])
table.add_row(["albatross", 24])
table.sort_key("name")
table.reversesort = True

print(table)

+-------------------+-------+
|        name       | score |
+-------------------+-------+
|        Bob        |   67  |
|      grizzly      |   45  |
| Tom of Caerbannog |   78  |
|        cat        |   34  |
|        Tony       |   39  |
|      dolphin      |   45  |
|     albatross     |   24  |
+-------------------+-------+

---  
接下來嘗試把結果用prettytable print出

# 四、

In [12]:
# 財務工程 108-2 作業 
# 經濟四 李承翰
p = int(input()) * 10000  #本金
n_y = int(input())  #期數(年)
i = int(input()) / 100  #年利率

n_m = n_y * 12  #期數(月)
p_m = p / n_m  #償還本金(月還
p_i = 0  #本利累計
print("期數(月)  本金(元)  利息(元)  本利累計(元)")
table = PrettyTable(["期數(月)", "本金(元)", "利息(元)", "本利累計(元)"]) #prettytable現身
for k in range(n_m):
    i_m = p * (i / 12)  #利息(月)
    p -= p_m
    p_i_m = p_m + i_m  #本利累計(月)
    p_i += p_i_m
    table.add_row(["第1期", int(p_m), int(i_m), int(p_i)]) #add進table
    print("第" + str(k + 1) + "期" + "   " + str(int(p_m)) + "     " + str(int(i_m)) + "      " + str(int(p_i)))
    
    
print(table)

12
1
5
期數(月)  本金(元)  利息(元)  本利累計(元)
第1期   10000     500      10500
第2期   10000     458      20958
第3期   10000     416      31375
第4期   10000     375      41750
第5期   10000     333      52083
第6期   10000     291      62375
第7期   10000     250      72625
第8期   10000     208      82833
第9期   10000     166      93000
第10期   10000     125      103125
第11期   10000     83      113208
第12期   10000     41      123250
+----------+----------+----------+--------------+
| 期數(月) | 本金(元) | 利息(元) | 本利累計(元) |
+----------+----------+----------+--------------+
|  第1期   |  10000   |   500    |    10500     |
|  第1期   |  10000   |   458    |    20958     |
|  第1期   |  10000   |   416    |    31375     |
|  第1期   |  10000   |   375    |    41750     |
|  第1期   |  10000   |   333    |    52083     |
|  第1期   |  10000   |   291    |    62375     |
|  第1期   |  10000   |   250    |    72625     |
|  第1期   |  10000   |   208    |    82833     |
|  第1期   |  10000   |   166    |    93000     |
|  第1期   |  10000   |   125    |    103125    |
|  第1期   |  10000   |    83    |    113208    |
|  第1期   |  10000   |    41    |    123250    |
+----------+----------+----------+--------------+

---
順道試一下pandas，看哪個呈現比較好看，於是上網找到了https://medium.com/@weilihmen/python-pandas-%E5%9F%BA%E6%9C%AC%E6%93%8D%E4%BD%9C%E6%95%99%E5%AD%B8-%E6%88%90%E7%B8%BE%E8%A1%A8-f6d0ec4f89  
以下為其中範例：

In [11]:
import pandas as pd
dic={"A":"1","B":"2","C":"3"}
id=["0","1","2"]
df=pd.DataFrame(dic,index=id)
print(df)

   A  B  C
0  1  2  3
1  1  2  3
2  1  2  3

In [1]:
import pandas as pd
scores = [{"姓名":"小華","數學":90, "國文":80},
          {"姓名":"小明","數學":70, "國文":55},
          {"姓名":"小李","數學":45, "國文":75}]
score_df = pd.DataFrame(scores)
score_df.set_index('姓名', inplace=True)
#透過set_index方法，使姓名這個欄位變成index
#inplace就是產生新的df是否取代舊的df，預設是False
#等同於 score_df = score_df.set_index('姓名')
#>>      國文  數學
#>> 姓名        
#>> 小華  80  90
#>> 小明  55  70
#>> 小李  75  45

print(score_df)

    數學  國文
姓名
小華  90  80
小明  70  55
小李  45  75

---
## 目前覺得會使用過多儲存空間，所以先行暫停嘗試~