# 一、演算法與流程圖

首先，我打開作業的參考網站 https://ttc.scu.org.tw/memdca1.htm 操作一番後，得到的結果如下：  
![](result.png)

經過我銳利的觀察(其實網站有給)，此償還方式是以**每月歸還固定本金**與**每月歸還相應遞減利息**進行的，稍微理了下思路後，有了初步想法。  

來人，~~餵兩位公子吃餅~~上演算法流程圖：  

![](procedure.jpg)

迴圈的部分則運用上述邏輯，藉由逐月扣除已歸還的固定本金的剩餘本金計算每個月的利息   
最後依序 print 出 期數(月)、本金(元)、利息(元)、本利累計(元)  

## 成果如下：

In [1]:
# 財務工程 108-2 作業 
# 經濟四 李承翰
p = int(input()) * 10000  #本金
n_y = int(input())  #期數(年)
i = int(input()) / 100  #年利率

n_m = n_y * 12  #期數(月)
p_m = p / n_m  #償還本金(月還
p_i = 0  #本利累計
print("期數(月)  本金(元)  利息(元)  本利累計(元)")
for k in range(n_m):
    i_m = p * (i / 12)  #利息(月)
    p -= p_m
    p_i_m = p_m + i_m  #本利累計(月)
    p_i += p_i_m
    print("第" + str(k + 1) + "期" + "   " + str(int(p_m)) + "     " + str(int(i_m)) + "      " + str(int(p_i)))

12
1
5
期數(月)  本金(元)  利息(元)  本利累計(元)
第1期   10000     500      10500
第2期   10000     458      20958
第3期   10000     416      31375
第4期   10000     375      41750
第5期   10000     333      52083
第6期   10000     291      62375
第7期   10000     250      72625
第8期   10000     208      82833
第9期   10000     166      93000
第10期   10000     125      103125
第11期   10000     83      113208
第12期   10000     41      123250

**代入值為：**   
- 本金：12
- 期數(year)：1  
- 年利率：5 

---

# 二、  Markdown研究
完成文字敘述與演算法展示後，我想把結果呈現更加優化並在markdown敘述中放入圖片，於是上網研究了Jupyter Notebook的使用秘訣(第一段的圖片是研究完後放上去的)

https://www.itread01.com/content/1545484157.html 中有豐富舉例，在這邊做個紀錄：  

*斜體*  
**粗體**  
***斜粗體***    

>引用文字  
>>繼續引用文字  
>>超愛引用文字  
>>>瘋狂引用文字    

* 重點一  
* 重點二  
* 沒重點  


1. Prince  
2. Jonathan  
3. Hans

```
大區塊佔場
```  

一段話中間的`程式`

**程式碼:**  
```python
for i in range(5):
    print(i)
```

**emoji:**(可以在Github呈現)    
:smile:  
:smiley:  
:smirk:  
:worried:  
:expressionless:  

<table><tr><td bgcolor=orange> 背景色是：orange </td></tr></table>  

hero|job|skill  
-:|:-:|:-
Iron man|leader|telling jokes
Capatain America|chearleader|telling nonsense
Prince|spiritual leader|telling stories

<font color="#dd0000">淺紅色文字</font><br /> 

<font color="#660000">深紅色文字</font><br /> 

<font color="#00dd00">淺綠色文字</font><br /> 

<font color="#006600">深綠色文字</font><br /> 

<font color="#0000dd">淺藍色文字</font><br /> 

<font color="#000066">深藍色文字</font><br /> 

<font color="#dddd00">淺黃色文字</font><br /> 

<font color="#666600">深黃色文字</font><br /> 

<font color="#00dddd">淺青色文字</font><br /> 

<font color="#006666" size=5>深青色文字</font><br /> 

<font color="#dd00dd" >淺紫色文字</font><br /> 

<font color="#660066">深紫色文字</font><br /> 

---

# 三、  表格化結果
認識完markdown語法後，現在要來優化結果呈現

我上網搜尋python如何print出好看表格，在 http://www.siyuanblog.com/?p=1606 發現了prettytable的用法，首先要先用pip安裝：

In [3]:
pip install prettytable

Requirement already satisfied: prettytable in c:\users\user\anaconda3\lib\site-packages (0.7.2)Note: you may need to restart the kernel to use updated packages.

---
試印一下網站給的範例

In [2]:
from prettytable import PrettyTable

table = PrettyTable(["name", "score"])
table.add_row(["Bob", 67])
table.add_row(["grizzly", 45])
table.add_row(["Tom of Caerbannog", 78])
table.add_row(["cat", 34])
table.add_row(["Tony", 39])
table.add_row(["dolphin", 45])
table.add_row(["albatross", 24])
table.sort_key("name")
table.reversesort = True

print(table)

+-------------------+-------+
|        name       | score |
+-------------------+-------+
|        Bob        |   67  |
|      grizzly      |   45  |
| Tom of Caerbannog |   78  |
|        cat        |   34  |
|        Tony       |   39  |
|      dolphin      |   45  |
|     albatross     |   24  |
+-------------------+-------+

---  
接下來嘗試把作業結果用prettytable print出

In [3]:
# 財務工程 108-2 作業 
# 經濟四 李承翰
p = int(input()) * 10000  #本金
n_y = int(input())  #期數(年)
i = int(input()) / 100  #年利率

n_m = n_y * 12  #期數(月)
p_m = p / n_m  #償還本金(月還
p_i = 0  #本利累計
print("期數(月)  本金(元)  利息(元)  本利累計(元)")
table = PrettyTable(["期數(月)", "本金(元)", "利息(元)", "本利累計(元)"]) #prettytable現身
for k in range(n_m):
    i_m = p * (i / 12)  #利息(月)
    p -= p_m
    p_i_m = p_m + i_m  #本利累計(月)
    p_i += p_i_m
    table.add_row(["第" + str(k + 1) + "期", int(p_m), int(i_m), int(p_i)]) #add進table
    print("第" + str(k + 1) + "期" + "   " + str(int(p_m)) + "     " + str(int(i_m)) + "      " + str(int(p_i)))
    
    
print(table)

12
1
5
期數(月)  本金(元)  利息(元)  本利累計(元)
第1期   10000     500      10500
第2期   10000     458      20958
第3期   10000     416      31375
第4期   10000     375      41750
第5期   10000     333      52083
第6期   10000     291      62375
第7期   10000     250      72625
第8期   10000     208      82833
第9期   10000     166      93000
第10期   10000     125      103125
第11期   10000     83      113208
第12期   10000     41      123250
+----------+----------+----------+--------------+
| 期數(月) | 本金(元) | 利息(元) | 本利累計(元) |
+----------+----------+----------+--------------+
|  第1期   |  10000   |   500    |    10500     |
|  第2期   |  10000   |   458    |    20958     |
|  第3期   |  10000   |   416    |    31375     |
|  第4期   |  10000   |   375    |    41750     |
|  第5期   |  10000   |   333    |    52083     |
|  第6期   |  10000   |   291    |    62375     |
|  第7期   |  10000   |   250    |    72625     |
|  第8期   |  10000   |   208    |    82833     |
|  第9期   |  10000   |   166    |    93000     |
|  第10期  |  10000   |   125    |    103125    |
|  第11期  |  10000   |    83    |    113208    |
|  第12期  |  10000   |    41    |    123250    |
+----------+----------+----------+--------------+

<table><tr><td bgcolor=blue><font color="#FFFFFF" size=5>可以，這個給過！</font></td></tr></table>

---
# 四、亂試試
順道試一下pandas，看哪個呈現比較好看，於是上網找到了https://medium.com/@weilihmen/python-pandas-%E5%9F%BA%E6%9C%AC%E6%93%8D%E4%BD%9C%E6%95%99%E5%AD%B8-%E6%88%90%E7%B8%BE%E8%A1%A8-f6d0ec4f89  
以下為其中範例：

In [11]:
import pandas as pd
dic={"A":"1","B":"2","C":"3"}
id=["0","1","2"]
df=pd.DataFrame(dic,index=id)
print(df)

   A  B  C
0  1  2  3
1  1  2  3
2  1  2  3

In [1]:
import pandas as pd
scores = [{"姓名":"小華","數學":90, "國文":80},
          {"姓名":"小明","數學":70, "國文":55},
          {"姓名":"小李","數學":45, "國文":75}]
score_df = pd.DataFrame(scores)
score_df.set_index('姓名', inplace=True)
#透過set_index方法，使姓名這個欄位變成index
#inplace就是產生新的df是否取代舊的df，預設是False
#等同於 score_df = score_df.set_index('姓名')
#>>      國文  數學
#>> 姓名        
#>> 小華  80  90
#>> 小明  55  70
#>> 小李  75  45

print(score_df)

    數學  國文
姓名
小華  90  80
小明  70  55
小李  45  75

---
## 目前覺得會使用過多儲存空間，所以先行暫停嘗試~

# 五、重啟爐灶(pandas)

In [3]:
# 財務工程 108-2 作業 
# 經濟四 李承翰
import pandas as pd

p = int(input()) * 10000  #本金
n_y = int(input())  #期數(年)
i = int(input()) / 100  #年利率

n_m = n_y * 12  #期數(月)
p_m = p / n_m  #償還本金(月還
p_i = 0  #本利累計
print("期數(月)  本金(元)  利息(元)  本利累計(元)")

table = []

for k in range(n_m):
    i_m = p * (i / 12)  #利息(月)
    p -= p_m
    p_i_m = p_m + i_m  #本利累計(月)
    p_i += p_i_m
    new_item = ["第" + str(k + 1) + "期", int(p_m), int(i_m), int(p_i)]  #add進table
    table.append(new_item)
    print("第" + str(k + 1) + "期" + "   " + str(int(p_m)) + "     " + str(int(i_m)) + "      " + str(int(p_i)))
    
table_df = pd.DataFrame(table)
table_df

12
3
5
期數(月)  本金(元)  利息(元)  本利累計(元)
第1期   3333     500      3833
第2期   3333     486      7652
第3期   3333     472      11458
第4期   3333     458      15250
第5期   3333     444      19027
第6期   3333     430      22791
第7期   3333     416      26541
第8期   3333     402      30277
第9期   3333     388      34000
第10期   3333     375      37708
第11期   3333     361      41402
第12期   3333     347      45083
第13期   3333     333      48750
第14期   3333     319      52402
第15期   3333     305      56041
第16期   3333     291      59666
第17期   3333     277      63277
第18期   3333     263      66875
第19期   3333     250      70458
第20期   3333     236      74027
第21期   3333     222      77583
第22期   3333     208      81125
第23期   3333     194      84652
第24期   3333     180      88166
第25期   3333     166      91666
第26期   3333     152      95152
第27期   3333     138      98625
第28期   3333     125      102083
第29期   3333     111      105527
第30期   3333     97      108958
第31期   3333     83      112375
第32期   3333     69      115777
第33期   3333     55      119166
第34期   3333     41      122541
第35期   3333     27      125902
第36期   3333     13      129250

       0     1    2       3
0    第1期  3333  500    3833
1    第2期  3333  486    7652
2    第3期  3333  472   11458
3    第4期  3333  458   15250
4    第5期  3333  444   19027
5    第6期  3333  430   22791
6    第7期  3333  416   26541
7    第8期  3333  402   30277
8    第9期  3333  388   34000
9   第10期  3333  375   37708
10  第11期  3333  361   41402
11  第12期  3333  347   45083
12  第13期  3333  333   48750
13  第14期  3333  319   52402
14  第15期  3333  305   56041
15  第16期  3333  291   59666
16  第17期  3333  277   63277
17  第18期  3333  263   66875
18  第19期  3333  250   70458
19  第20期  3333  236   74027
20  第21期  3333  222   77583
21  第22期  3333  208   81125
22  第23期  3333  194   84652
23  第24期  3333  180   88166
24  第25期  3333  166   91666
25  第26期  3333  152   95152
26  第27期  3333  138   98625
27  第28期  3333  125  102083
28  第29期  3333  111  105527
29  第30期  3333   97  108958
30  第31期  3333   83  112375
31  第32期  3333   69  115777
32  第33期  3333   55  119166
33  第34期  3333   41  122541
34  第35期  3333   27  125902
35  第36期  3333   13  129250